#room{:style => "margin-top: 100px;"}
  %div{:itemscope => "", :itemtype => "http://schema.org/Product"}
    ._3nukz4e{:style => "margin-left: 50px;"}
      %meta{:content => "https://a0.muscache.com/im/pictures/110652691/c2736730_original.jpg?aki_policy=large", :itemprop => "image"}/
      %span
        %div
          %section._y9ev9r
            ._6rzo65
              ._2930ex
                ._1thk0tsb
                  ._goo6eo
                    %button._hmv3b92{"aria-label" => "View all photos. Photo 1 out of 26."}
                      ._e296pg
                        -# %img._180xebri{:alt => "wa,空中花园", :src => "https://www.ritz-carlton.co.jp/assets/images/home/kv-01.jpg"}/
                        = image_tag @room.image.to_s
                ._n5lh69r
      %div
    .room__dls{:style => "margin-left: 50px;"}
      ._uy08umt
        %div{:style => "margin-top:0;margin-bottom:0;margin-left:0;margin-right:0"}
          ._7qbhf1
          ._2h22gn
            ._1kzvqab3
              %div
                %div
                  %div
                    ._1ucqa4dr
                      %div
                        %div
                          ._2930ex
                            ._ni9axhe
                              %div
                                %div{:style => "margin-right: -16px;"}
                                  ._gcgb88
                                    %span
                                      ._36rlri
                                      %div{:style => "display: none;"}
                                        %div
                                    ._36rlri{:style => "margin-left: -8px;"}
                                      %span
                                        ._36rlri
                                          %button._12cg178i{"aria-busy" => "false", :type => "button"}
                                            %span._khmvu72
                                              ._qtix31{:style => "margin: 0px auto;"}
                    ._ifnnxc
              #summary
                %div{:style => "margin-top:24px;margin-bottom:24px"}
                  %span.hide
                    %div{:itemscope => "", :itemtype => "http://schema.org/BreadcrumbList"}
                      ._150a3jym
                        %span{:itemprop => "name"} 日本>
                        %span{:itemprop => "name"} 東京>
                        %span{:itemprop => "name"} 日本橋
                  %div
                    %div
                      ._36rlri{:style => "margin-right:16px"}
                        ._qtix31
                          ._1thk0tsb
                            %div{:style => "margin-right:8px"}
                              %span._1mszfa7p
                                %span._1r3plqb{"aria-hidden" => "true"} 󰄂
                          ._1thk0tsb
                            %span._y8ard79 ゲスト2人
                      ._36rlri{:style => "margin-right:16px"}
                        ._qtix31
                          ._1thk0tsb
                            %div{:style => "margin-right:8px"}
                              %span._1mszfa7p
                                %span._1r3plqb{"aria-hidden" => "true"} 󰄄
                          ._1thk0tsb
                            %span._y8ard79 1寝室
                      ._36rlri{:style => "margin-right:16px"}
                        ._qtix31
                          ._1thk0tsb
                            %div{:style => "margin-right:8px"}
                              %span._1mszfa7p
                                %span._1r3plqb{"aria-hidden" => "true"} 󰄃
                          ._1thk0tsb
                            %span._y8ard79 ベッド1台
                      ._36rlri{:style => "margin-right:0"}
                        ._qtix31
                          ._1thk0tsb
                            %div{:style => "margin-right:8px"}
                              %span._1mszfa7p
                                %span._1r3plqb{"aria-hidden" => "true"} 󰄁
                          ._1thk0tsb
                            %span._y8ard79 バスルーム：なし
                %div
              %div
                %div
                  #details
                    %div
                      ._2h22gn
                        ._1ecjmw6o
                          %div{:style => "margin-bottom:12px"}
                          %div
                            %div
                              ._1m8bb6v{"aria-hidden" => "true"}
                                %div{:lang => "ja-x-mtfrom-und",:style => "margin-right:50px"}
                                  = @room.text
                          %div{:style => "margin-top:16px"}
                            %div
                              ._y9ev9r
                              %div{:style => "margin-top:8px;margin-bottom:24px"}
                                ._ug6tr25
                                  %button._b82bweu{"aria-busy" => "false", "aria-disabled" => "false", "aria-expanded" => "false", :type => "button"}
                                    ._qtix31
                                      ._ni9axhe
