.header{
  .header_list{
      border-bottom: 1px solid #e4e4e4;
      height:81px;
  .logo{
    float:left;
    height: 80px !important;
  }
  .serach_area{
    float:left;
    display: table-cell !important;
    width: 774px !important;
    vertical-align: middle !important;
    form._2930ex{
      display: table !important;
      width: 100% !important;
      .gor68n{
        .div{
          ._e296pg{
            ._9hxtto{
              label._1m8bb6v{
              }
            .div{
              ._ncmdki{

              }
              ._178faes{
                input#GeocompleteController-via-SearchBarV2-SearchBarV2._k3jto05{
                  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
                  font-size: 19px !important;
                  line-height: 24px !important;
                  letter-spacing: undefined !important;
                  padding-top: undefined !important;
                  padding-bottom: undefined !important;
                  color: #484848 !important;
                  background-color: transparent !important;
                  border: 0px !important;
                  padding: 11px !important;
                  width: 100% !important;
                  font-weight: normal !important;
                  text-overflow: ellipsis !important;
                }
              }
            }
            }
          }
        }
      }
    }
  }
  .header_menu{
    float:left;
    nav{
      ul._1s04l2o{
        box-sizing: border-box;
        li._1g2dfiu{
          display: table-cell !important;
          text-align: -webkit-match-parent;
          button._hxsurab{
          height: 80px !important;
          line-height: 80px !important;
          ._zsx5dtm{
            height: 100% !important;
            vertical-align: middle !important;
            -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
            border-bottom: none !important;
              ._lvb55za{
                display: inline-block !important;
                padding: 8px !important;
                vertical-align: middle !important;
                line-height: 1 !important;
                border-bottom: 2px solid transparent !important;
                svg._l7gvu6{
                  fill: #008489 !important;
                  height: 6px !important;
                  opacity: 0 !important;
                  position: absolute !important;
                  top: 50% !important;
                  -webkit-transform: translate3d(4px, -8px, 0) !important;
                  -ms-transform: translate3d(4px, -8px, 0) !important;
                  transform: translate3d(4px, -8px, 0) !important;
                  -webkit-transform-origin-x: 7px !important;
                  -ms-transform-origin-x: 7px !important;
                  transform-origin-x: 7px !important;
                  -webkit-transform-origin-y: -5px !important;
                  -ms-transform-origin-y: -5px !important;
                  transform-origin-y: -5px !important;
                  width: 6px !important;
                  circle{

                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .header_menu_host{
    float:left;
    .header_menu_host_start{
    border: 1px solid !important;
    border-color: #008489 !important;
    border-radius: 4px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-size: 15px !important;
    color: #008489 !important;
    }
  }
  .user{
    float:right;
  }
  }
}
.main_contents{
  padding-top: 80px;
  h3._1oztv2zd{
    font-weight: 700 !important;
    margin-bottom: 0px !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 28px !important;
    line-height: 32px !important;
    letter-spacing: -0.6px !important;
    padding-top: 100px !important;
    padding-bottom: 2px !important;
    color: #484848 !important;
  }
  .main_contents_menu_select_row{

    .main_contents_menu_select_row_accomodation{
      float:left;
      button._6m75u2{
        background-color: transparent !important;
        border: 1px solid rgba(0,0,0,0.1) !important;
        border-radius: 3px !important;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
        margin-bottom: 4px !important;
        padding: 0px !important;
        overflow: hidden !important;
        text-align: left !important;
        width: 100% !important;
        ._1thk0tsb{
          display: table-cell !important;
          vertical-align: top !important;
        }
        ._ni9axhe{
          display: table-cell !important;
          vertical-align: middle !important;
          ._13lgpze{
            ._1ho874em{
              span._1t073h8{
                font-size: 17px !important;
                line-height: 21px !important;
              }
            }
          }
        }
      }
    }
    .main_contents_menu_select_row_experience{
      float:left;
      button._6m75u2{
        background-color: transparent !important;
        border: 1px solid rgba(0,0,0,0.1) !important;
        border-radius: 3px !important;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
        margin-bottom: 4px !important;
        padding: 0px !important;
        overflow: hidden !important;
        text-align: left !important;
        width: 100% !important;
        ._1thk0tsb{
          display: table-cell !important;
          vertical-align: top !important;
        }
        ._ni9axhe{
          display: table-cell !important;
          vertical-align: middle !important;
          ._13lgpze{
            ._1ho874em{
              span._1t073h8{
                font-size: 17px !important;
                line-height: 21px !important;
              }
            }
          }
        }
      }
    }
    .main_contents_menu_select_row_restaurant{
      float:left;
      button._6m75u2{
        background-color: transparent !important;
        border: 1px solid rgba(0,0,0,0.1) !important;
        border-radius: 3px !important;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
        margin-bottom: 4px !important;
        padding: 0px !important;
        overflow: hidden !important;
        text-align: left !important;
        width: 100% !important;
        ._1thk0tsb{
          display: table-cell !important;
          vertical-align: top !important;
        }
        ._ni9axhe{
          display: table-cell !important;
          vertical-align: middle !important;
          ._13lgpze{
            ._1ho874em{
              span._1t073h8{
                font-size: 17px !important;
                line-height: 21px !important;
              }
            }
          }
        }
      }
    }
  }
  .clearfix{
    display: block;
    clear:both;

  }
}
