._z5ixr97{
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    padding-left: 20px;
  ._1dp4576{
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    div{
      ._o71trrf{
        ._1szwzht{
          a{
            span{
            }
            ._qptau{
              ._yydl86{
                ._rx7qc3{
                  ._e296pg{
                    ._1df8dftk{
                      position: absolute !important;
                      background-position: 50% 50% !important;
                      background-repeat: no-repeat !important;
                      -webkit-animation-name: keyframe_18jn58a !important;
                      animation-name: keyframe_18jn58a !important;
                      -webkit-animation-duration: 300ms !important;
                      animation-duration: 300ms !important;
                      -webkit-animation-timing-function: ease-out !important;
                      animation-timing-function: ease-out !important;
                      border-bottom-left-radius: 3px !important;
                      border-bottom-right-radius: 3px !important;
                      border-top-left-radius: 3px !important;
                      border-top-right-radius: 3px !important;
                      background-size: contain !important;
                    }
                  }
                }
              }
            }
          }
          div{
            ._q2suj0z{
              ._1xf3sln{
              }
            }
          }
        }
      }
    }
  }
  ._v72lrv{
    padding-top: 8px;
    div{
      a._15ns6vh{
        display: block !important;
        color: #484848 !important;
        div{
          ._sn7mewg{
            span._1qrfvqya{
              span._bt56vz6{
                span._4efw5a{
                }
              }
            }
            ._36rlri{
              display: inline-block !important;
              small._1yzz8amm{
                span{
                  span{
                    span{
                      span{}
                    }
                  }
                }
              }

            }
          }
        }

        div{
          ._1qp0hqb{
            ._1rths372{
            }
          }
        }
        div{
          div{
            ._59f9ic{
              ._ncmdki{
                ._1yarz4r{
                  span{
                    span._hylizj6{
                      span._1m8bb6v{
                        span{
                        }
                      span{

                      }
                      }
                    }
                    span._hylizj6{
                      span{
                      }
                    }

                  }
                }
              }
            }
          }
        }
        div{
          ._1hc6xcl{
            line-height: normal !important;
            max-height: 24px !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 1 !important;
            -webkit-box-orient: vertical !important;
            ._36rlri{
              display: inline-block;
              span._q27mtmr{
                vertical-align: middle !important;
                line-height: 21px !important;
                margin-right: 2px !important;
                span{
                  span._tgtkhs7{
                  display: inline-block !important;
                   color: #008489 !important;
                   font-size: 9px !important;
                   height: 10px !important;
                   margin-right: 1px !important;
                   width: 9px !important;
                    svg{
                      path{
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
