._z5ixr97{
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    padding-left: 20px;
    margin-top:30px;
  ._1dp4576{
    display: inline-block !important;
    vertical-align: top !important;
    white-space: normal !important;
    div{
      ._e296pg{
        div{
          ._1szwzht{
            width:308px;
            height:205px;
            a{
              image{
                width: 100%;
                height: 100%;
              }

            }
            div{
              ._q2suj0z{
                ._1xf3sln{
                }
              }
            }
          }
        }
      }
    }
  }
  ._v72lrv{
    padding-top: 8px;
    div{
      a._15ns6vh{
        display: block !important;
        color: #484848 !important;
        div{
          ._sn7mewg{
            span._1qrfvqya{
              span._bt56vz6{
                span._4efw5a{
                }
              }
            }
            ._36rlri{
              display: inline-block !important;
              small._1yzz8amm{
                span{
                  span{
                    span{
                      span{}
                    }
                  }
                }
              }

            }
          }
        }

        div{
          ._1qp0hqb{
            ._1rths372{
            }
          }
        }
        div{
          div{
            ._59f9ic{
              ._ncmdki{
                ._1yarz4r{
                  span{
                    span._hylizj6{
                      span._1m8bb6v{
                        span{
                        }
                      span{

                      }
                      }
                    }
                    span._hylizj6{
                      span{
                      }
                    }

                  }
                }
              }
            }
          }
        }
        div{
          ._1hc6xcl{
            line-height: normal !important;
            max-height: 24px !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            display: -webkit-box !important;
            -webkit-line-clamp: 1 !important;
            -webkit-box-orient: vertical !important;
            ._36rlri{
              display: inline-block;
              span._q27mtmr{
                vertical-align: middle !important;
                line-height: 21px !important;
                margin-right: 2px !important;
                span{
                  span._tgtkhs7{
                  display: inline-block !important;
                   color: #008489 !important;
                   font-size: 9px !important;
                   height: 10px !important;
                   margin-right: 1px !important;
                   width: 9px !important;
                    svg{
                      path{
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

._1e7f1q6{
    margin-left: 1000px !important;
    width: 376px !important;
    z-index: 3 !important;
  ._16tcko6{
    padding-left: 24px !important;
    padding-right: 24px !important;
    margin: 0px !important;
    border: 1px solid #e4e4e4 !important;
    background-color: #ffffff !important;
    div{
      div{
        div{
          div{
            span{
              ._12cv0xt{
                div{
                  ._36rlri{
                    span._10cqp947{
                      %span{
                      }
                    }
                    span.ulku2jm{
                      %span{
                      }
                    }
                  }
                }
              }
            }
          }
          div{}
        }
      }
    }
  }
}
