.main_contents{
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  h3._1oztv2zd{
    font-weight: 700 !important;
    margin-bottom: 0px !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 28px !important;
    line-height: 32px !important;
    letter-spacing: -0.6px !important;
    padding-top: 100px !important;
    padding-bottom: 2px !important;
    color: #484848 !important;
  }
  .main_contents_menu_select_row{
    margin-bottom: 0px !important;
    padding: 0px !important;
    overflow: visible !important;
    margin-top: 30px;
    .main_contents_menu_select_row_accomodation{
      display: inline-block !important;
      vertical-align: top !important;
      white-space: normal !important;
      width: 25% !important;
      button._6m75u2{
        background-color: transparent !important;
        border: 1px solid rgba(0,0,0,0.1) !important;
        border-radius: 3px !important;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
        margin-bottom: 4px !important;
        padding: 0px !important;
        overflow: hidden !important;
        text-align: left !important;
        width: 100% !important;
        ._1thk0tsb{
          display: table-cell !important;
          vertical-align: top !important;
        }
        ._ni9axhe{
          display: table-cell !important;
          vertical-align: middle !important;
          ._13lgpze{
            ._1ho874em{
              span._1t073h8{
                font-size: 17px !important;
                line-height: 21px !important;
              }
            }
          }
        }
      }
    }
    .main_contents_menu_select_row_experience{
      display: inline-block !important;
      vertical-align: top !important;
      white-space: normal !important;
      width: 25% !important;
      button._6m75u2{
        background-color: transparent !important;
        border: 1px solid rgba(0,0,0,0.1) !important;
        border-radius: 3px !important;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
        margin-bottom: 4px !important;
        padding: 0px !important;
        overflow: hidden !important;
        text-align: left !important;
        width: 100% !important;
        ._1thk0tsb{
          display: table-cell !important;
          vertical-align: top !important;
        }
        ._ni9axhe{
          display: table-cell !important;
          vertical-align: middle !important;
          ._13lgpze{
            ._1ho874em{
              span._1t073h8{
                font-size: 17px !important;
                line-height: 21px !important;
              }
            }
          }
        }
      }
    }
    .main_contents_menu_select_row_restaurant{
      display: inline-block !important;
      vertical-align: top !important;
      white-space: normal !important;
      width: 25% !important;
      button._6m75u2{
        background-color: transparent !important;
        border: 1px solid rgba(0,0,0,0.1) !important;
        border-radius: 3px !important;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06) !important;
        margin-bottom: 4px !important;
        padding: 0px !important;
        overflow: hidden !important;
        text-align: left !important;
        width: 100% !important;
        ._1thk0tsb{
          display: table-cell !important;
          vertical-align: top !important;
        }
        ._ni9axhe{
          display: table-cell !important;
          vertical-align: middle !important;
          ._13lgpze{
            ._1ho874em{
              span._1t073h8{
                font-size: 17px !important;
                line-height: 21px !important;
              }
            }
          }
        }
      }
    }
  }
  .clearfix{
    display: block;
    clear:both;
  }
}
