%body
  ._1kwaon5
    %header._8iqo2b{:role => "banner"}
      ._93rdvyg
        ._2930ex
          ._ni9axhe
            %div
              ._ousp44
                %div
                  %a
                  %button
          ._10ejfg4u
          ._ni9axhe
            %nav
              %ul
  ._6nfdd53
    %div
  .header
    .header_list
      .logo ロゴ入るよー
      .serach_area 検索窓
      .header_menu
      %ul
        %li お気に入り
        %li 旅行
        %li メッセージ
        %li ヘルプ
      .header_menu_host ホストを始める
      .user
