= render 'layouts/top_content'
.main_contents
  .main_contents_menu_select
    %h3._1oztv2zd Airbbで探す
    .main_contents_menu_select_row
      .main_contents_menu_select_row_accomodation
        %button._6m75u2{"aria-busy" => "false", "data-veloute" => "explore-nav-card:/homes", :type => "button"}
          ._1thk0tsb
            %div{class: "_e296pg",style: "width: 96px,height: 72px"}
              ._6ikqekk{:style => "width: 96px; height: 72px; background-image: url(\"https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?aki_policy=large\");"}
          ._ni9axhe
            ._13lgpze
              ._1ho874em
                %span._1t073h8 宿泊先
      .main_contents_menu_select_row_experience
        %button._6m75u2{"aria-busy" => "false", "data-veloute" => "explore-nav-card:/homes", :type => "button"}
          ._1thk0tsb
            %div{class: "_e296pg",style: "width: 96px,height: 72px"}
              ._6ikqekk{:style => "width: 96px; height: 72px; background-image: url(\"https://a0.muscache.com/im/pictures/d3811ff7-cc34-471b-8aee-b0d613db0052.jpg?aki_policy=large\");"}
          ._ni9axhe
            ._13lgpze
              ._1ho874em
                %span._1t073h8 体験
      .main_contents_menu_select_row_restaurant
        %button._6m75u2{"aria-busy" => "false", "data-veloute" => "explore-nav-card:/homes", :type => "button"}
          ._1thk0tsb
            %div{class: "_e296pg",style: "width: 96px,height: 72px"}
              ._6ikqekk{:style => "width: 96px; height: 72px; background-image: url(\"https://a0.muscache.com/im/pictures/da2d8e97-90b7-409f-94ac-5ab0327c289b.jpg?aki_policy=large\");"}
          ._ni9axhe
            ._13lgpze
              ._1ho874em
                %span._1t073h8 レストラン
  .main_contents_visit
    世界中にある宿泊先
    .main_contents_visit_place
      .main_contents_visit_place_photo
      .main_contents_visit_place_name
        %p.name The World Famous Seashell House ~ Casa Caracol
        %span.price 33,500円/泊
        %span.rate 評価
  .main_contents_visit 東京で受付中
  .main_contents_visit ほぼ売り切れ
  .main_contents_visit 今週末まで！
= render 'layouts/buttom_content'
