= render 'layouts/top_content'
.main_contents
  .main_contents_menu_select
    Airbbで探す
    .main_contents_menu_select_accomodation
      accomodation
    .main_contents_menu_select_experience
      経験
    .main_contents_menu_select_restaurant
      レストラン
  .main_contents_visit
    世界中にある宿泊先
    .main_contents_visit_place
      .main_contents_visit_place_photo
      .main_contents_visit_place_name
        %p.name The World Famous Seashell House ~ Casa Caracol
        %span.price 33,500円/泊
        %span.rate 評価
  .main_contents_visit 東京で受付中
  .main_contents_visit ほぼ売り切れ
  .main_contents_visit 今週末まで！
= render 'layouts/buttom_content'
