%body
  ._1kwaon5
    %header._8iqo2b{:role => "banner"}
      ._93rdvyg
        ._2930ex
          ._ni9axhe
            %div
              ._ousp44
                %div
                  %a
                  %button
          ._10ejfg4u
          ._ni9axhe
            %nav
              %ul
  ._6nfdd53
    %div
  .header
    .header_list
      .logo
        = link_to image_tag("https://seeklogo.com/images/A/airbnb-logo-7F4086530F-seeklogo.com.png",size: "34x34", alt: "logo"),rooms_path
      .serach_area
        %form._2930ex{:action => "/s/homes", :method => "get"}
          ._17u98ky
            ._gor68n
              %div
                ._e296pg
                  ._9hxttoo
                    %label._1m8bb6v{:for => "GeocompleteController-via-SearchBarV2-SearchBarV2"} 場所
                    %div{:dir => "ltr"}
                      ._ncmdki
                      ._178faes
                        %input#GeocompleteController-via-SearchBarV2-SearchBarV2._k3jto05{:autocomplete => "off", :name => "location", :placeholder => "どこでも", :type => "text", :value => "指定なし · 宿泊先", :style => "width: 100%;" }/
      .header_menu
        %nav
          %ul._1s04l2o
            %li._1g2dfiu
              %button._hxsurab{"aria-busy" => "false", "aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
                ._zsx5dtm
                  ._lvb55za
                    = link_to "ホストになる", new_room_path, method: :get, class: 'btn'
                    %svg._l7gvu6{:focusable => "false"}
                      %circle{:cx => "3", :cy => "3", :r => "3"}
            %li._1g2dfiu
              %button._hxsurab{"aria-busy" => "false", "aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
                ._zsx5dtm
                  ._lvb55za
                    旅行
                    %svg._l7gvu6{:focusable => "false"}
                      %circle{:cx => "3", :cy => "3", :r => "3"}
            %li._1g2dfiu
              %button._hxsurab{"aria-busy" => "false", "aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
                ._zsx5dtm
                  ._lvb55za
                    メッセージ
                    %svg._l7gvu6{:focusable => "false"}
                      %circle{:cx => "3", :cy => "3", :r => "3"}
            %li._1g2dfiu
              %button._hxsurab{"aria-busy" => "false", "aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
                ._zsx5dtm
                  ._lvb55za
                    ヘルプ
                    %svg._l7gvu6{:focusable => "false"}
                      %circle{:cx => "3", :cy => "3", :r => "3"}
            %li._1g2dfiu
              .user
                %button#headerNavUserButton._gngqxi{"aria-busy" => "false", "aria-controls" => "headerNavUserMenu", "aria-expanded" => "false", "aria-haspopup" => "true", :type => "button"}
                  ._18lcoy3z
                    ._lvb55za
                      ._1r3wpux
                        %img._1pa4v1p{:alt => "Yuudaiさんのアカウント", :height => "28", :src => "https://a0.muscache.com/im/pictures/0b2085b1-28f0-437a-a70a-10e62eafe261.jpg?aki_policy=profile_small", :width => "28"}/
                        = current_user.name
                      %svg._l7gvu6{:focusable => "false"}
                        %circle{:cx => "3", :cy => "3", :r => "3"}
            %li._1g2dfiu
              .user
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
